footer{
    text-align: center;
    padding-top: 40px;
    padding: 10px;
    color: #f88268;
    font-size: large;
}
nav {
    color: teal;
    padding: 10px;
    padding-left: 60px;
}
a{
    color: rgb(8, 112, 112);
}
a:visited{
    color: rgb(18, 94, 94);
}
a:hover{
    font-weight: bold;
    color: rgb(12, 90, 90)
}
a:active{
    background-color: #ffbcad;
}
.nav-pills > .nav-item > .active{
    background-color: #f88268;
}
#home-content{
    background-color: #ffbcad;
    padding-bottom: 30px;
}
.jumbotron{
    background-color: #ffbcad;
}
